@layer components {
  .home {
    &__content {
      @apply py-10;
    }
    &__place {
      &-grid {
        @apply grid sm:grid-cols-2 gap-4;
      }
      &-skeleton {
        @apply sm:h-[152px] h-[102px];
      }
      &-null {
        @apply mt-10 flex flex-col items-center justify-center w-full col-span-2;
        svg {
          @apply mb-3 text-6xl;
        }
        color: var(--text-secondary)
      }
    }
    &__search {
      @apply mt-4 flex md:flex-row flex-col gap-2;
      button {
        @apply md:w-[220px] py-2 md:py-3 px-2 md:px-4 text-white text-sm md:text-base font-medium border min-h-[40px];
        background: var(--black);
        border-color: var(--black);
        color: var(--white);
        &:hover {
            background: transparent;
            color: var(--black);
        }
      }
    }
  }
}
