@layer components {
  .skeleton {
    display: block;
    min-height: 8px;
    background: linear-gradient(
        to right,
        var(--bg-secondary),
        var(--bg-color) 50%,
        var(--bg-secondary) 100%
      ),
      var(--bg-secondary);
    background-repeat: repeat-y;
    background-size: 100px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;

    @keyframes shine {
      to {
        background-position: 100% 0, /* move highlight to right */ 0 0;
      }
    }
  }
}
