@import "../components/hero/style.css";
@import "../components/header/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  @apply xl:max-w-[980px] lg:max-w-[980px];
}

